.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 35px;
}

.header {
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
  color: #3d5bb4;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #2b70d1;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #4d4bcb;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.textarea {
  resize: vertical;
  height: 100px;
}

.button {
  padding: 5px 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #005bb5;
}

.buttonreset {
  padding: 5px 10px;
  background-color: #c51ba0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  float: right;
}

.buttonreset:hover {
  background-color: #ab138a;
}

.message {
  text-align: center;
  color: blue;
  margin-top: 20px;
}

/* ........... List-Css .......... */

/* Blog.module.css */
.containers {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  background-color: rgb(231, 229, 229);
  min-height: 100vh;
  text-align: center;
}

.blogList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

@media (min-width: 600px) {
  .blogList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .blogList {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blogItem {
  background-color: #fafafa;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.blogItem:hover {
  background-color: #faf7f7;
}

.blogTitle {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #0070f3;
}

.blogDescription {
  font-size: 1em;
  margin-bottom: 10px;
  text-align: justify;
  color: #555;
  font-style: oblique;
  border: 1px solid rgb(236, 232, 232);
  padding: 25px;
  border-radius: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.blogDescription:hover {
  background-color: #fff;
}

.blogDate {
  font-size: 0.9em;
  color: #999;
  margin-bottom: 10px;
}

.buttonContainers {
  display: flex;
  justify-content: space-between;
}
.addButton {
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  margin-bottom: 10px;
}

.addButton {
  background-color: #0070f3;
}

.addButton:hover {
  background-color: #005bb5;
}

.editButton,
.deleteButton {
  padding: 3px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
}

.editButton {
  background-color: #0070f3;
}

.editButton:hover {
  background-color: #005bb5;
}

.deleteButton {
  background-color: #d9534f;
}

.deleteButton:hover {
  background-color: #c9302c;
}

.error {
  font-size: 1.2em;
  color: red;
  text-align: center;
}

.links {
  text-align: center;
  font-weight: 400;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 2 px;
  text-align: center;
}

.errorInput {
  border-color: red;
}

.textcenter {
  text-align: center;
}

.confirmDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
  border-radius: 10px;
}

.confirmDialog p {
  margin-bottom: 10px;
}

.confirmButtons {
  margin-top: 10px;
}

.confirmYes,
.confirmNo {
  margin-left: 10px;
  padding: 1px 10px;
}

.confirmYes {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 10px;
}

.confirmNo {
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 10px;
}


/* ------------404-page-css-start------------- */
.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(135deg, #ece9e6, #ffffff);
  font-family: 'Arial', sans-serif;
  color: #333;
  padding: 20px;
}

.h1 {
  font-size: 6rem;
  color: #0070f3;
  margin: 0;
}

.h2 {
  font-size: 2rem;
  color: #333;
  margin: 10px 0;
}

.p {
  font-size: 1.5rem;
  color: #666;
  margin: 10px 0 20px;
}

.homeLink {
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #0070f3;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decore: none;
}
/* ------------404-page-css-end------------- */
