.centers{
    text-align: center;
    color: blue;
  }
  
  /* .......navbar Start....... */
  .centers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  
  .navbar {
    background-color: #333;
    overflow: hidden;
    border-radius: 9px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-right: 1px solid rgb(196, 192, 192);
    font-weight: bolder;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
    font-weight: bolder;
  }
  /* .......navbar End....... */